:root{
    --global-font: 'LXGWWenKaiScreenR';
}

@font-face {
    font-family: 'LXGWWenKai-Regular';
    font-weight: 400;
    /* 字体名自定义即可 */
    /* src: url('https://cdn.jsdelivr.net/gh/tzy13755126023/BLOG_SOURCE/font/ZhuZiAWan.woff2'); */
    src: url(/font/LXGWWenKai-Regular.ttf) format('truetype');
    /* 字体文件路径 */
    font-display: swap;
  }

  @font-face {
    font-family: 'LXGWWenKaiScreenR';
    font-weight: 400;
    /* 字体名自定义即可 */
    /* src: url('https://cdn.jsdelivr.net/gh/tzy13755126023/BLOG_SOURCE/font/ZhuZiAWan.woff2'); */
    src: url(/font/LXGWWenKaiScreenR.ttf) format('truetype');
    /* 字体文件路径 */
    font-display: swap;
  }
  

@font-face {
    font-family: 'JetBrainsMono-Regular';
    font-weight: 400;
    code-font-display: swap;
    src: url(/font/JetBrainsMono-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'HarmonyOS_Sans_Black';
    font-weight: 400;
    code-font-display: swap;
    src: url(/font/HarmonyOS_Sans_Black.ttf) format('truetype');
}
  
body{
    font-family:  'LXGWWenKaiScreenR','JetBrainsMono-Regular' !important;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'HarmonyOS_Sans_Black';
}

div #nav{
    font-family: 'HarmonyOS_Sans_Black';
}